In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

In [4]:
df = pd.read_excel('ikano.xlsx')
df

,ID,Gender,Income data,MARITAL_STATUS,EDUCATION,CONTRACT_TYPE,PROFESSION,SECTOR,Location of sales,Age,Payment history,Supplementary products,Number of previous agreements,Credit bureau data,Dates o purchases,Months-on-borad,Product,"Type of home (house, flat, parents)",Number of children,Number of household members,"Type of home (house, flat, parents).1",Number of rooms,Area (m2),Products bought,Term of membership,Instalment
0,1,M,90000.0,married,high,Full time,middle management,Bank/Insurance,Warszawa,45,NaN,1,1,NaN,2010-05-21,72,Credit Card,House,0.0,1,owned,2,16,"Sofas, sofa-beds & armchairs",3,181.766255
1,2,F,3400.0,married,high,Full time,professional = clerical,Bank/Insurance,Warszawa,50,0.0,3,1,NaN,2020-02-25,26,Credit Card,Apartment,2.0,4,owned,2,34,For the pets,10,146.975814
2,3,F,3400.0,married,high,Full time,professional = clerical,Bank/Insurance,Warszawa,50,0.0,3,1,NaN,2010-06-29,0,Credit Card,Apartment,2.0,4,owned,3,33,Bathroom furniture & organizers,9,346.227789
3,6,F,5000.0,married,high,Full time,professional = clerical,Bank/Insurance,Warszawa,38,1.0,1,1,NaN,2010-06-29,0,Credit Card,House,0.0,2,owned,2,5,Chairs,1,255.231076
4,7,M,4800.0,married,high,Full time,professional = clerical,Manufacture/EDV,Katowice,43,1.0,2,2,NaN,2014-02-27,2,Credit Card,Apartment,1.0,3,owned,0,70,Bathroom furniture & organizers,8,278.509119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163005,163658,F,2500.0,not married,high,Full time,retail sales,Retail market,Bydgoszcz,27,NaN,1,1,NaN,2020-04-08,231,Interest Free Loan,Apartment,0.0,1,owned,4,42,Decoration,5,322.547932
163006,163660,M,2500.0,not married,medium,Full time,skilled/tradesman,Retail market,Warszawa,29,NaN,2,1,NaN,2020-04-08,231,Interest Free Loan,Apartment,0.0,1,living with family,2,7,"Floors, rugs & mats",3,360.372720
163007,163662,F,2500.0,not married,medium,Part time,retail sales,Retail market,Katowice,23,NaN,1,1,NaN,2020-04-10,206,Interest Free Loan,Apartment,0.0,1,rented,2,51,Chairs,1,341.509839
163008,163663,F,2500.0,not married,medium,Full time,skilled/tradesman,Retail market,Katowice,29,NaN,1,1,NaN,2020-04-20,85,Interest Free Loan,House,0.0,1,living with family,2,85,Decoration,9,271.307312
163009,163664,F,3800.0,married,high,Full time,civil servant,Other services,Poznań,50,NaN,1,1,NaN,2020-04-20,85,Interest Free Loan,House,0.0,2,owned,3,49,Chairs,4,404.767933

In [5]:
df.to_excel('ikano.xlsx')